.wrapp {
  padding: .3125rem 0;
  width: 4.375rem;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--gray-50);

  @media (any-hover: hover) {
    &:hover {
      & img {
        transform: translateX(10px) rotate(45deg);
      }
  
      & span {
        &:first-child {
          transform: rotateY(180deg) translate(0, 5px);
        }
  
        &:last-child {
          transform: rotate(360deg) translate(-5px, -5px);
        }
      }
    }
  }

  & img {
    width: 1.875rem;
    transform: translateX(.3125rem);
    transition: .38s ease-out;
  }

  & p {
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 800;
    
    & span {
      transition: .38s ease-out;
      display: inline-block;;
      background-color: #0093E9;
      background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}