.link {
  position: relative;
  padding: 3px 8px;
  border-radius: 8px;
  overflow: hidden;

  & span {
    font-weight: 300;
    font-size: .875rem;
    position: relative;
    z-index: 1;
    transition: .2s;
    
    &:hover {
      color: var(--blue-400);
    }
  }
}