.list {
  display: flex;
  flex-wrap: wrap;
  gap: .4375rem;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }

  & li {
    font-weight: 600;
    font-size: 1rem;
    border-radius: 1.5625rem;
    padding: 5px 12px;
    background: rgba(255, 255, 255, .05);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}