.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .3125rem;

  & h5 {
    padding-right: .3125rem;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.img {
  user-select: none;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  padding: 75.76% 0;

  @media (any-hover: hover) {
    &:hover {
      & img {
        transform: scale(1.05);
      }
    }
  }
}

.favorite {
  position: absolute;
  left: .9375rem;
  top: 0;
}