.wrapp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 0;
}

.swiper {
  width: 100%;
  padding-bottom: 1.875rem;
}

.slide {
  width: 12.5rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

