.not_found {
  text-align: center;

  & p {
    color: var(--gray-50);
  }
}

.image {
  position: relative;
  height: 50vmin;
  max-height: 30rem;
  margin: 0 auto .625rem auto;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}