.wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  
  & ul {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  & li {
    font-weight: 700;
    font-size: 1.125rem;

    &:nth-child(2), &:nth-child(3), &:nth-child(5), &:nth-child(6) {
      color: var(--gray-400);
    }
  }
}