.wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  
  & ul {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  & li {
    font-weight: 700;
    font-size: 1.125rem;

    &:nth-child(1), &:nth-child(4), &:nth-child(7) {
      color: var(--gray-50);
    }
  }
}