.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: .9375rem;

  & span {
    display: block;
    text-align: left;
  }

  & h4 {
    color: #e84d78;
  }

  & img {
    height: 35vmin;
    max-height: 18.75rem;
  }
}

