.body {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 1.875rem;
  border-radius: var(--b-radius);
  background: var(--white-005);
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));

  @media screen and (max-width: 768px) {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }
}

.col {
  &:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: .9375rem;

    @media screen and (max-width: 768px) {
      align-items: center;
    }

    & p {
      flex: 1 0 auto;
    }
  }

  &:nth-child(2) {
    position: relative;
    min-width: 12.375rem;
    height: 18.75rem;
    object-fit: cover;
    border-radius: .75rem;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      min-width: unset;
      width: 12.375rem;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-column-gap: .75rem;
  grid-row-gap: .3125rem;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}