.wrapp {
  & span {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    backdrop-filter: blur(var(--blur));
    background: var(--blue-400-02);
    font-size: 26px;
    border-radius: 50%;
    overflow: hidden;

    &:first-child {
      left: -0.9375rem;
    }
    
    &:last-child {
      right: -0.9375rem;
    }
  }
}