.card {
  display: flex;
  flex-direction: column;
  gap: .3125rem;
}

.poster {
  user-select: none;
  position: relative;
  border-radius: .9375rem;
  overflow: hidden;
  height: 18.75rem;

  &.small {
    height: 14.0625rem;
  }

  @media (any-hover: hover) {
    &:hover {
      & img {
        transform: scale(1.05);
      }
    }
  }
}