.card {
  display: flex;
  flex-direction: column;
  gap: .3125rem;
}

.poster {
  user-select: none;
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  height: 18.75rem;

  @media (any-hover: hover) {
    &:hover {
      & img {
        transform: scale(1.05);
      }
    }
  }
}