.preview {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  min-width: 0;
}

.swiper {
  width: 100%;
}

.slide {
  width: 100%;
  max-width: 12.375rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}