.wrapp {
  display: flex;
  align-items: center;
  gap: .625rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    font-size: 1.875rem;
    transition: .3s;

    &:hover {
      color: var(--orange-400);
    }
  }
}