.wrapp, .body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
  margin-left: 15px;

  @media screen and (max-width: 475px) {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }

  & li {
    margin-left: -15px;
  }

  & h4 {
    display: none;
  }
}