.wrapp {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  gap: .625rem;

  & h2 {
    line-height: 2;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}