.wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: .3125rem;
}

.btn {
  max-width: 5rem;
  white-space: nowrap;
  padding:.1875rem .5rem;
  font-size: .875rem;
  background: var(--white-01);
  border-radius: .375rem;
  transition: .3s;
}