.sidebar {
  position: relative;
  transition: .3s;
  min-width: 200px;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: -1.5625rem;
    width: 1.6px;
    height: 100%;
    background: radial-gradient(circle, rgba(186, 186, 186, 0.1) 50%, rgba(255, 255, 255, 0) 100%);

    @media screen and (max-width: 64rem) {
      right: -0.9375rem;
    }
  }

  @media screen and (max-width: 1024px) {
    min-width: 50px;
    margin-right: 1.875rem;

    & li {
      & span {
        display: none;
      }
    }

    & a {
      justify-content: center;
      padding: .625rem !important;
    }

    &.active {
      min-width: 200px;

      & li {
        & span {
          display: block;
        }
      }

      & a {
        justify-content: start;
      }
    }
  }

  @media screen and (max-width: 475px) {
    width: 0;
    min-width: unset;
    margin: 0;
    opacity: 0;
    pointer-events: none;

    &.active {
      min-width: 50px;
      margin-right: 1.875rem;
      opacity: 1;
      pointer-events: all;

      & li {
        & span {
          display: none;
        }
      }

      & a {
        justify-content: center;
      }
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    transition: .3s ease;
    color: var(--gray-400);
  }

  & a {
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    transition: .3s ease;

    &::before {
      overflow: hidden;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: var(--blue-400-01);
      border-radius: 10px;
      transition: .5s ease;
    }
  }

  & svg {
    min-width: 1.375rem;
    font-size: 22px;
    transition: .3s ease;
  }

  :global(a.active) {
    color: var(--gray-50);

    &::before {
      width: 100%;
      border-left: 4px solid var(--blue-400);
    }
  
    & svg {
      color: var(--blue-400);
    }
  }
}