.navbar {
  position: relative;
  height: 100%;
  width: 12.5rem;
  margin-right: 3.125rem;
  transition: .3s;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: -1.5625rem;
    width: 1px;
    height: 100%;
    background: radial-gradient(circle, var(--white-01) 50%, rgba(255, 255, 255, 0) 100%);
  }

  &.hidden {
    width: 0;
    margin-right: 0;
    opacity: 0;
    pointer-events: none;

    &::before {
      opacity: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 3.125rem;

    &.active {
      width: 12.5rem;
    }
  }

  @media screen and (max-width: 768px) {
    width: 0;
    margin-right: 0;
    opacity: 0;
    pointer-events: none;

    &::before {
      opacity: 0;
    }

    &.active {
      width: 3.125rem;
      margin-right: 1.875rem;
      opacity: 1;
      pointer-events: all;

      &::before {
        opacity: 1;
        right: -0.9375rem;
      }
    }
  }

  & ul {
    position: sticky;
    top: 0;
    padding-top: .625rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  & li {
    position: relative;
    height: 2.8125rem;
  }
  
  & a {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 .625rem;
    color: var(--gray-400);
    border-left: 3px solid transparent;
    border-radius: 12px;
    transition: .3s;

    &::before {
      position: absolute;
      z-index: -1;
      content: '';
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: var(--blue-400);
      opacity: 0.2;
      transition: .5s;
    }

    &:hover {
      color: var(--gray-50);
    }
  }
  
  & svg {
    position: relative;
    z-index: 2;
    font-size: 26px;
    min-width: 26px;
  }

  & span {
    font-weight: 700;
    font-size: 1.125rem;
    white-space: nowrap;
  }
  
  :global(a.active) {
    color: var(--gray-50);
    border-left: 3px solid var(--blue-400);

    &::before {
      width: 100%;
    }

    & svg {
      color: var(--blue-400);
    }
  }
}