.col {
  position: relative;
  display: flex;
  gap: 1.875rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.poster {
  position: relative;
  min-width: 12.375rem;
  height: 18.75rem;
  border-radius: var(--b-radius);
  overflow: hidden;

  @media screen and (max-width: 768px) {
    max-width: 12.375rem;
    margin: 0 auto;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    display: inline-flex;
    align-items: center;
    gap: 1.25rem;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }

    & button {
      max-width: 6.25rem;
    }

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);
    }
  }

  & h2 {
    line-height: 1;
  }
}