.wrapp {
  margin-top: 9.375rem;
  padding: 1.875rem 0;
  background: rgba(33, 127, 244, 0.03);
}

.body {
  padding: 0 1.875rem;
  display: grid;
  gap: 3.125rem;
  grid-template: auto / minmax(auto, 9.375rem) minmax(auto, 9.375rem) 1fr;

  @media screen and (max-width: 550px) {
    grid-template: auto / 1fr;
    text-align: center;
    gap: 1.25rem;
  }
}

.col {
  &:last-child {
    width: 6.25rem;
    align-self: end;
    margin: 0 0 0 auto;

    @media screen and (max-width: 550px) {
      margin: 0 auto;
    }
  }

  & h5 {
    font-weight: 600;
    line-height: 2;
  }

  & ul {
    & li {
      line-height: 1.5;
      white-space: nowrap;
    }

    & a {
      font-size: .75rem;
      font-weight: 200;
      transition: .2s;

      &:hover {
        color: var(--gray-400);
      }
    }
  }
}
