.btn {
  position: relative;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3125rem;
  padding: 0 .625rem;
  background: var(--white-005);
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
  border-radius: .75rem;

  @media (any-hover: hover) {
    &:hover span {
      opacity: 1;
    }
  }

  & svg {
    font-size: 1.125rem;
  }

  & span {
    pointer-events: none;
    position: absolute;
    top: 2.6875rem;
    right: 3.125rem;
    padding: .625rem;
    background: var(--white-01);
    border-radius: var(--b-radius) 0 var(--b-radius) var(--b-radius);
    opacity: 0;
    transition: .1s;
  }
}