.header {
  min-height: 5.3125rem;
  display: grid;
  align-items: center;
  grid-template: auto / 12.5rem 1fr auto;
  gap: 3.125rem;

  @media screen and (max-width: 768px) {
    grid-template: auto / auto 1fr auto;
    gap: 1.25rem;
  }
  @media screen and (max-width: 620px) {
    grid-template: auto auto / auto auto;
    padding: .9375rem 0;
  }
}

.box {
  display: grid;
  justify-content: end;
  grid-template: 2.375rem / repeat(2, 2.375rem);
  gap: .625rem;

  @media screen and (max-width: 1024px) {
    grid-template: 2.375rem / repeat(3, 2.375rem);
  }
}