.hamburger {
  position: relative;
  z-index: 10;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--white-005);
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
  display: none;

  @media screen and (max-width: 1024px) {
    display: block;
  }

  &.active {
    & i:first-child {
      width: 1.25rem;
    }
    & i:last-child {
      width: .75rem;
    }
  }

  & i {
    pointer-events: none;
    position: absolute;
    content: '';
    left: 7px;
    width: 24px;
    height: 3px;
    border-radius: 2px;
    background: var(--gray-50);
    transition: .3s ease;

    &:first-child {
      top: 13px;
    }
    &:last-child {
      bottom: 13px;
    }
  }
}