.wrapp {
  position: relative;
  height: 100%;
  width: 12.5rem;
  margin-right: 3.125rem;
  transition: .3s;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: -1.5625rem;
    width: 1px;
    height: 100%;
    background: radial-gradient(circle, var(--white-01) 50%, rgba(255, 255, 255, 0) 100%);
  }

  &.hidden {
    width: 0;
    margin-right: 0;
    opacity: 0;
    pointer-events: none;

    &::before {
      opacity: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 3.125rem;

    &.active {
      width: 12.5rem;
    }
  }

  @media screen and (max-width: 768px) {
    width: 0;
    margin-right: 0;
    opacity: 0;
    pointer-events: none;

    &::before {
      opacity: 0;
    }

    &.active {
      width: 3.125rem;
      margin-right: 1.875rem;
      opacity: 1;
      pointer-events: all;

      &::before {
        opacity: 1;
        right: -0.9375rem;
      }
    }
  }
}