.details {
  overflow: hidden;
}

.trailer_wrapp {
  position: relative;
  max-width: 50rem;
  height: 9.375rem;
  margin: .625rem auto 0 auto;
  border-radius: var(--b-radius) var(--b-radius) 0 0;
  transition: .3s;

  & span {
    position: absolute;
    top: .5625rem;
    right: .5625rem;
  }

  &.active {
    height: 69vmin;
    max-height: 28.125rem;
    background: var(--white-005);
    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
  }
}

.body {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 1.875rem;
  border-radius: var(--b-radius);
  background: var(--white-005);
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
}

.col {
  &:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: .9375rem;

    & p {
      flex: 1 0 auto;
    }
  }

  &:nth-child(2) {
    position: relative;
    min-width: 12.375rem;
    height: 18.75rem;
    object-fit: cover;
    border-radius: .75rem;
    overflow: hidden;
  }
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-column-gap: .75rem;
  grid-row-gap: .3125rem;
}