.wrapp {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.swiper {
  position: relative;
  padding-bottom: 40px !important;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  position: absolute;
  z-index: 10;
  bottom: 4.375rem;
  right: 1.875rem;

  @media screen and (max-width: 768px) {
    bottom: 3.4375rem;
    right: .9375rem;
  }
}